* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}


.flex {
    display: flex;
}

.wrapper{
    flex-flow: column;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    transform: translateY(50%);
    padding: 7px;
}
.container {
 flex: 0 1 100%;
}

.red {
    background-color: crimson;
}

.green {
    background-color: seagreen;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.border {
    border: 2px solid;
}

.p-5px {
    padding: 5px;
}

.h-50 {
    height: 50%;
}

.w-100px {
    width: 100px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.f-g {
    flex-grow: 2;
}

.j-c-f-e {
    justify-content: flex-end;
}
.f-d{
    flex-direction: row-reverse;
}
.j-c-f-s{
    justify-content: flex-start;
}
